.my-input-suggestion{
    position: absolute;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #1E90FF;
    transition: all .15s ease;
    -webkit-transform: translateY(-2px);
    max-height: 150px;
    min-height: 38px;
    overflow-y: auto;
}

.my-input-suggestion ul li{
    padding: 8px;
    font-weight: normal;
    border-bottom: 1px solid #FAFAFA;
    color : #777777;
}

.my-input-suggestion ul li:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}

.scrollContent{

}
.selectedWithArrow{
    background-color: #F5F5F5;
}

.my-input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    border-radius: 0px;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.my-input:focus {
    background-color: #fefefe;
    border: 1px solid #8a8a8a;
    box-shadow: 0 0 5px #1E90FF;
    outline: medium none;
    transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s;
    line-height: 1px;

}